#body{
    background-color: rgba(58, 134, 255, 1);
    font-family: 'Chakra Petch', sans-serif;

    
}

#enemigo{
    /* width: 700px; */
    height: 380px;
    background-color: rgba(255, 190, 11, 1);
    border: 4px solid rgba(251, 86, 7, 1);
    border-radius: 15px;
    margin-top: 10px;
}

#tijera{
    height: auto;
    width: 100%;
    background-color: rgba(255, 190, 11, 1);
    border: 4px solid rgba(251, 86, 7, 1);
    border-radius: 15px;
    -webkit-box-shadow: -1px 9px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 17px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 17px -3px rgba(0,0,0,0.75);
}
#piedra{
    height: auto;
    width: 100%;
    background-color: rgba(255, 190, 11, 1);
    border: 4px solid rgba(251, 86, 7, 1);
    border-radius: 15px;
    -webkit-box-shadow: -1px 9px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 17px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 17px -3px rgba(0,0,0,0.75);
    

}
#papel{
    height: auto;
    width: 100%;
    background-color: rgba(255, 190, 11, 1);
    border: 4px solid rgba(251, 86, 7, 1);
    border-radius: 15px;
    -webkit-box-shadow: -1px 9px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 17px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 17px -3px rgba(0,0,0,0.75);
}
#botonReinicio{
    background-color: rgb(40, 216, 8);
    border: 2px solid white;
    border-radius:20px;
    color: white;
    width: 150px;
    height: 100px;
}
#miModal2{
    background-color: rgba(255, 190, 11, 1);
    border: 4px solid darkred;
    border-radius: 15px;
    height: 600px;
}
#headerModal{
    background-color: rgba(251, 86, 7, 1);
    /* border: 4px solid darkred; */
    border-radius: 15px;
}
.tablero{
    border: solid 4px rgba(251, 86, 7, 1);
    background-color: rgba(255, 190, 11, 1);
    border-radius: 15px;
}
.numJugadas{
    background-color: rgba(251, 86, 7, 1);
    color: white;
    border-radius: 20px;
    border: 2px solid yellow;
    margin-top: 15px;
    
}
 
.jugada{
    margin-left: 50px;
    margin-right: 50px;
    
}
.imagenJuego{
    height: 100px;
    width: 100px;
}
.miModal{
    background-color: rgba(58, 134, 255, 1);
}

.ilustracionModal{
    height: 150px;
    width: 150px;
}

img{
    height: 150px;
    width: 150px;
}
#titulo{
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

    
   
 